.App {
  text-align: center;
  background:rgb(20, 38, 95);
  
}
.App button{
  border-style: none;
  background:transparent;
  margin:50px;
  font-size:40px;
  color:white;
}
.App button:hover{
  cursor: grab;
  background:white;
  border-radius: 10px;
  color:black
}
.Content{
  text-align: center
}